<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rnf.taxiad">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true"></supports-screens>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="rnf.taxiad.items.READ" />
    <uses-permission android:name="rnf.taxiad.items.WRITE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.TaxiAdd"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.RidePlayGifActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ViewDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ManageAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ClickInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.TextToFeatureActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/RideplayTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.TermsAndConditionActivitiy"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".locations.LocationService"
            android:enabled="true"
            android:exported="false" />
        <!--<service-->
        <!--android:name=".helpers.DistanceService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" />-->
        <service
            android:name=".helpers.InsertStatsService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
        <!--<service-->
        <!--android:name=".helpers.DownloadHelperService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false" />-->
        <service
            android:name=".helpers.ProgressService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.RestartWakefulBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.FLAG_INCLUDE_STOPPED_PACKAGES" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".providers.TaxiContentProvider"
            android:authorities="rnf.taxiad.items"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="rnf.taxiad.items.READ"
            android:writePermission="rnf.taxiad.items.WRITE" />
        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9dcac143440366db7331ca418d80009b26786f9a"
            />
    </application>

</manifest>
